@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");
header {
  width: 80%;
  max-width: 800px;
}

header #title {
  margin-top: 1em;
  font-size: clamp(4em, 10vw, 10em);
  position: relative;
  font-family: "Bangers", cursive;
  letter-spacing: 0.2em;
}

header #title::after {
  content: 'Superhero Operation Protection';
  display: block;
  font-size: 0.2em;
  color: #80F0FF;
  position: relative;
  letter-spacing: 0.2em;
}

header #help-header {
  font-family: "Bangers", cursive;
  font-size: clamp(1.6em, 4vw, 3em);
  margin-top: 2em;
  letter-spacing: 0.2em;
}

header p {
  font-weight: lighter;
  font-size: clamp(0.6em, 2vw, 1.2em);
  width: 90%;
  max-width: 550px;
  margin: auto;
  opacity: 80%;
}

main {
  width: 80%;
  max-width: 800px;
  min-width: 280px;
}

#survey-form {
  background-color: rgba(128, 240, 255, 0.35);
  margin-top: 5em;
  padding: 2em;
  width: 100%;
  border-radius: 0.5em;
  margin-bottom: 2em;
}

label {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 0.4em;
}

.text-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: clamp(1.2em, 3vw, 2em);
  position: relative;
}

.text-input input {
  border: 3px solid #2c2c2c;
  padding: 0.5em;
  margin-bottom: 2em;
  font-size: 0.8em;
  border-radius: 0.5em;
}

.text-input :focus {
  outline: none;
  border-color: #FF6858;
}

.text-input :valid + p {
  display: none;
}

.text-input p {
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: absolute;
  bottom: 15px;
  left: 1em;
  font-size: 0.5em;
  font-style: italic;
  color: #FF6858;
  font-weight: bold;
  text-align: left;
}

.primary-btn {
  outline: none;
  border: none;
  background-color: #FF6858;
  padding: 1em;
  margin-top: 1em;
  width: 100%;
  font-weight: bold;
  color: white;
  font-size: clamp(0.8em, 2vw, 1.2em);
  border-radius: 0.5em;
  cursor: pointer;
  -webkit-transition: all 0.3ms ease-in-out;
  transition: all 0.3ms ease-in-out;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.primary-btn:focus, .primary-btn:hover {
  background-color: #eb5848;
}

.radio-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5em;
  position: relative;
}

.radio-input .custom-radio {
  width: 100%;
  font-family: "Bangers", cursive;
  position: relative;
  margin-top: 1em;
}

.radio-input .custom-radio input[type="radio"] {
  display: none;
}

.radio-input .custom-radio input[type="radio"]:checked ~ label {
  background-color: #FF6858;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.radio-input .custom-radio input[type="radio"]:checked ~ label h2 {
  color: white;
}

.radio-input .custom-radio input[type="radio"]:checked ~ label span {
  color: white;
}

.radio-input .custom-radio label {
  padding: 2em;
  border: 4px solid #2c2c2c;
  border-radius: 0.5em;
  background-color: white;
  color: #2c2c2c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.radio-input .custom-radio label p, .radio-input .custom-radio label h2 {
  display: inline;
}

.radio-input .custom-radio label p, .radio-input .custom-radio label span {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
}

.radio-input .custom-radio label p {
  margin-top: 0.5em;
  font-size: clamp(0.8em, 2vw, 1.2em);
}

.radio-input .custom-radio label span {
  margin-top: 0.5em;
  font-size: 0.8em;
  color: #FF6858;
}

.radio-input .custom-radio label h2 {
  color: #FF6858;
  letter-spacing: 0.2em;
}

.input-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input-dropdown label {
  font-size: clamp(1.2em, 3vw, 2em);
}

.input-dropdown .custom-select {
  width: 100%;
}

.input-dropdown .custom-select select {
  width: 100%;
  padding: 1em;
  outline: none;
  border: 3px solid #2c2c2c;
  border-radius: 0.5em;
}

.input-textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input-textarea textarea {
  border-radius: 0.5em;
  border: 3px solid #2c2c2c;
  height: 100px;
  min-height: 100px;
  max-height: 500px;
  max-width: 100%;
  padding: 1em;
}

.input-textarea label {
  margin-top: 1em;
  font-size: clamp(1.2em, 3vw, 2em);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  background-size: cover;
  background-position: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: tomato;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(assets/hero-bg.jpg) no-repeat;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(assets/hero-bg.jpg) no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

footer {
  margin-bottom: 2em;
}

footer span {
  font-weight: bold;
  color: #FF6858;
}
/*# sourceMappingURL=styles.css.map */