main {
    width: 80%;
    max-width: 800px;
    min-width: 280px;
}

#survey-form {
    background-color: rgba(128, 240, 255, 0.35);
    margin-top: 5em;
    padding: 2em;
    width: 100%;
    border-radius: 0.5em;
    margin-bottom: 2em;
}

// STYLING TEXT BASED INPUTS

.text-input {
    display: flex;
    flex-direction: column;

    font-size: clamp(1.2em, 3vw, 2em);

    position: relative;

    label {
        align-self: flex-start;
        margin-bottom: 0.4em;
    }

    input {
        border: 3px solid rgb(44, 44, 44);
        padding: 0.5em;
        margin-bottom: 2em;
        font-size: 0.8em;
        border-radius: 0.5em;
    }:focus {
        outline: none;
        border-color: $clr-red;
    }:valid + p {
        display: none;
    }

    // ERROR HANDLING
    p {
        align-self: flex-start;
        position: absolute;
        bottom: 15px;
        left: 1em;
        font-size: 0.5em;
        font-style: italic;
        color: $clr-red;
        font-weight: bold;
        text-align: left;
    }
}



// BUTTON ON FORM

.primary-btn {
    outline: none;
    border: none;
    background-color: $clr-red;
    padding: 1em;
    margin-top: 1em;
    width: 100%;

    font-weight: bold;
    color: white;

    font-size: clamp(0.8em, 2vw, 1.2em);
    border: 3px solid transparent;
    border-radius: 0.5em;
    cursor: pointer;
    transition: all 0.3ms ease-in-out;
}

.primary-btn:focus, .primary-btn:hover {
    background-color: transparent;
    border-color: $clr-red;
}

// CUSTOM RADIO
.radio-input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5em;

    position: relative;

    .custom-radio {
        width: 100%;
        font-family: $font-banger;
        position: relative;
        margin-top: 1em;
        
        input[type="radio"] {
            display: none;
        }

        input[type="radio"]:checked ~ label {
            background-color: $clr-red;
            h2 {
                color: white;
            }
            span {
                color: white;
            }
        } 

        label {
            padding: 2em;
            border: 4px solid rgb(44, 44, 44);
            border-radius: 0.5em;
            background-color: white;
            color: rgb(44, 44, 44);

            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 100%;

            text-align: center;
            cursor: pointer;

            p, h2 {
                display: inline;
            }
            
            p, span {
                font-family: $font-roboto;
                font-weight: bold;
            }

            p {
              margin-top: 0.5em; 
              font-size: clamp(0.8em, 2vw, 1.2em);
            }

            span {
                margin-top: 0.5em;
                font-size: 0.8em;
                color: $clr-red;
            }

            h2 {
                color: $clr-red;
                letter-spacing: 0.2em;
            }
        }
    }
}